<template>
  <el-dialog v-model="kuStore.dialogFormVisible" title="Фильтрация товаров по накладных" close-on-click-modal
    close-on-press-escape draggable>
    <el-tabs type="border-card">
      <el-tab-pane label="Производитель">
        <EntitiesKuAddFiltresProducer />
      </el-tab-pane>
      <el-tab-pane label="Торговая марка">
        <EntitiesKuAddFiltresBrand />
      </el-tab-pane>
      <el-tab-pane label="Категория">
        <EntitiesKuAddFiltresClassificator />
      </el-tab-pane>
      <el-tab-pane label="Товар">
        <EntitiesKuAddFiltresProduct />
      </el-tab-pane>
    </el-tabs>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="kuStore.dialogFormVisible = false">Отмена</el-button>
        <el-button @click="">Сохранить</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup lang="ts">
import { useKuStore } from "~~/stores/kuStore";

const kuStore = useKuStore();

</script>
